.about {
    margin-top: vw(28px);
    padding: vw(122px) vw(84px) vw(72px);
    position: relative;
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: vw(50px);
    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/icon/line-about-top.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: vw(293px);
        height: vw(110px);
        z-index: 2;
        left: 55%;
        top: 21%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/decor/decor2.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: vw(966px);
        height: vw(871px);
        z-index: -1;
        left: vw(-396px);
        bottom: vw(-356px);
        opacity: 0.3;
        pointer-events: none;
    }
}
.about-top__video {
    width: vw(810px);
    height: vw(465px);
    position: relative;
    iframe {
        height: 100%;
        width: 100%;
    }
    #player {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.about-top-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-top__descr {
    width: vw(743px);
    margin-right: vw(18px);
    h3 {
        color: #6bb7b2;
        font-size: vw(42px);
        font-weight: 700;
        line-height: vw(27px);
    }
    p {
        color: #000000;
        font-size: vw(26px);
        font-weight: 400;
        line-height: vw(31px);
        margin-top: vw(28px);
    }
}
.about-list {
    margin-top: vw(59px);
    .swiper {
        margin-top: vw(73px);
        padding-bottom: vw(10px);
    }
    .slider-nav {
        position: relative;
        margin-top: vw(40px);
    }
    .swiper-scrollbar {
        height: vw(5px);
        background-color: #a7a7a7;
        width: calc(100% - vw(50px));
        margin: 0 auto;
        .swiper-scrollbar-drag {
            background-color: #000000;
            cursor: pointer;
        }
    }
    .swiper-button-next {
        left: 0;
        &::after {
            background-image: url("../img/icon/black-arrow.svg");
        }
    }
    .swiper-button-prev {
        right: 0;
        &::after {
            background-image: url("../img/icon/black-arrow.svg");
            transform: rotate(180deg);
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        opacity: 1;
        &::after {
            font-size: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: vw(24px);
            height: vw(27px);
        }
    }
}
.about-list-item {
    width: vw(456px);
    margin-left: vw(122px);
    &:last-child {
        margin-left: 0;
    }
}
.about-list-item__video {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.about-list-item__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #000000;
    font-size: vw(40px);
    font-weight: 400;
    line-height: vw(27px);
    margin-top: vw(20px);
    div {
        width: vw(221px);
        height: vw(16px);
        border-radius: vw(5px);
        border: 1px solid #707070;
        position: relative;
        overflow: hidden;
        span {
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;
            background-color: #cddb75;
        }
    }
}
.btn-next-sec {
}
