.promo {
    margin-top: vw(70px);
    position: relative;
    height: vw(587px);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/decor/decor1.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: vw(895px);
        height: vw(427px);
        z-index: -1;
        left: 56%;
        transform: translateX(-50%);
        top: vw(-79px);
        pointer-events: none;
    }
}
.promo__wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: vw(16px);
    height: 100%;
    overflow: hidden;
    border-radius: 1.0416666667vw;
    background-color: #f2f2f2;
}
.promo-item {
    flex: 1;
    opacity: 0.34;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
    max-width: vw(220px);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.promo-item--active {
    flex: var(--flex);
    max-width: vw(920px);
    opacity: 1;
}

@media (max-width: $table) {
    .promo {
        opacity: 0;
        height: vw(327px, 1);
    }
}
