* {
    font-family: "Heebo", sans-serif;
}

body {
    background-color: #f2f2f2;
    &.scroll-hide {
        overflow: hidden;
    }
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 0 vw(60px) vw(50px);
    animation: fide 2s linear 0s 1 normal forwards;
}

@keyframes fide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    color: #6bb7b2;
    font-size: vw(102px);
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: vw(90px);
    text-align: center;
    margin-top: vw(60px);
}

.sec-border {
    border-radius: vw(20px);
    border: 1px solid #000000;
}

.logo {
    position: fixed;
    right: vw(-107px);
    top: vw(-102px);
    z-index: 100;
    width: vw(569px);
    height: vw(353px);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-next-sec {
    width: vw(59px);
    height: vw(118px);
    background-image: url("../img/icon/btn-next-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-35%) translateY(50%);
    bottom: vw(11px);
    cursor: pointer;
    z-index: 2;
}

.play-btn {
    width: vw(108px);
    height: vw(107px);
    background-color: #bbe15b89;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/icon/play-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: background-color 0.3s ease-in-out;
        width: vw(32px);
        height: vw(36px);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        background-color: #bbe15b;
    }
}

.sec-title {
    text-align: center;
    color: #6bb7b2;
    font-size: vw(72px);
    font-weight: 700;
    line-height: vw(67px);
}

.thanks {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/decor/decor4.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: vw(678px);
        height: vw(926px);
        z-index: -1;
        left: vw(-97px);
        bottom: vw(-587px);
        pointer-events: none;
    }
    h1 {
        span {
            color: #cddb75;
        }
    }
    p {
        color: #000000;
        font-size: vw(26px);
        font-weight: 400;
        line-height: vw(31px);
        margin-top: vw(40px);
    }
    .btn {
        width: vw(466px);
        margin-top: vw(65px);
        height: vw(82px);
        gap: vw(20px);
        img {
            width: vw(36px);
            height: vw(35px);
        }
    }
}

.page-thanks {
    .main {
        height: 91vh;
    }
}

.mob-bottom {
    display: none;
}

@media (max-width: $table) {
    h1 {
        font-size: vw(60px, 1);
        line-height: vw(49px, 1);
        margin-top: 0;
        display: flex;
        flex-direction: column;
        span {
            color: #cddb75;
            display: block;
        }
    }

    .page-thanks {
        h1 {
            flex-direction: column-reverse;
        }
    }

    .logo {
        width: vw(184px, 1);
        height: vw(110px, 1);
        right: vw(-51px, 1);
        top: vw(-14px, 1);
    }

    .page {
        padding: vw(106px, 1) vw(9px, 1) vw(88px, 1);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/decor/decor1.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: vw(420px, 1);
            height: vw(235px, 1);
            z-index: -1;
            left: vw(-283px, 1);
            top: vw(-59px, 1);
            opacity: 1;
            pointer-events: none;
            transform: rotate(-34deg);
        }
    }

    .sec-border {
        border-radius: vw(20px, 1);
    }

    .sec-title {
        font-size: vw(25px, 1);
        line-height: vw(32px, 1);
    }

    .play-btn {
        width: vw(75px, 1);
        height: vw(75px, 1);
        &::before {
            width: vw(23px, 1);
            height: vw(29px, 1);
        }
    }
    .mob-bottom {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: vw(53px, 1);
        box-shadow: 0 -1px vw(6px, 1) rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        display: block;
        z-index: 2222;
        color: #000000;
        font-size: vw(32px, 1);
        font-weight: 700;
        line-height: vw(32px, 1);
        border-radius: vw(20px, 1) vw(20px, 1) 0 0;
        overflow: hidden;
        text-align: center;
        padding: vw(10px, 1);
        padding-right: vw(92px, 1);
        display: flex;
        justify-content: center;
        &::after {
            position: absolute;
            content: "";
            background-image: url("../img/icon/phone.svg");
            background-repeat: no-repeat;
            background-size: vw(42px, 1) vw(43px, 1);
            background-position: center;
            width: vw(92px, 1);
            height: vw(53px, 1);
            display: block;
            right: 0;
            top: 0;
            background-color: #6bb7b2;
            padding: vw(30px, 1);
        }
    }
    .btn-next-sec {
        display: none;
    }

    .page-thanks {
        padding: 0;
        .logo {
            width: 72.111111vw;
            height: 42.555556vw;
            right: -19.166667vw;
            top: -3.8888888889vw;
        }
    }
    .thanks {
        padding: vw(192px, 1) vw(15px, 1) vw(83px, 1);
        height: 100vh;
        justify-content: space-between;
        &::before {
            background-image: url(../img/decor/decor2.svg);
            width: 147.888889vw;
            height: 115.555556vw;
            right: -73.555556vw;
            bottom: -41.611111vw;
            top: inherit;
            opacity: 0.4;
        }
        h1 {
            flex-direction: column;
        }
    }
    .thanks p {
        font-size: 20px;
        line-height: 120%;
        max-width: 200px;
        margin: 0 auto;
    }
    .thanks .btn {
        width: 298px;
        height: 64px;
        font-size: 20px;
        gap: 15px;
        img {
            width: 25px;
            height: 25px;
        }
    }
}
